body {
    height:100%;
    color:rgb(163, 167, 151);
    margin: 5px;
    padding: 5px;
    background-image: url("https://cdn.wallpapersafari.com/7/42/xqlgfA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.topnav {
    background-color: #333;
    overflow: hidden;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

img {
    border-radius: 10%;
    width: 250pt;
    position: relative;
}

.Profile {
    text-align: center;
    font-size: 25px;
}

a {
    color:antiquewhite;
}
a:hover {
    color: aqua;
}

.About {
    background-color: rgba(0, 0, 0, 0.479);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}